[package]
name = "typst-ws"
version = "0.2.0"
authors = ["The Typst Project Developers"]
edition = "2021"

[[bin]]
name = "typst-ws"
path = "src/main.rs"
test = false
doctest = false
bench = false
doc = false

[dependencies]
typst = { git = "https://github.com/typst/typst.git", tag = "v0.2.0" }
typst-library = { git = "https://github.com/typst/typst.git", tag = "v0.2.0" }
chrono = { version = "0.4", default-features = false, features = [
  "clock",
  "std",
] }
codespan-reporting = "0.11"
comemo = "0.2"
dirs = "4"
elsa = "1.7"
memmap2 = "0.5"
notify = "5"
once_cell = "1"
same-file = "1"
siphasher = "0.3"
walkdir = "2"
clap = { version = "4.2.1", features = ["derive"] }
open = "4.0.1"
tokio = {version = "1.27.0", features = ["full"]}
tokio-tungstenite = "0.18.0"
tiny-skia = "0.6.6"
env_logger = "0.10.0"
log = "0.4.17"
serde_json = "1.0.95"
futures = "0.3.28"
serde = "1.0.159"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["local-time", "time"] }
tracing-chrome = "0.7.1"

[build-dependencies]
clap = { version = "4.2.1", features = ["derive", "string"] }
clap_complete = "4.2.0"
clap_mangen = "0.2.10"

[features]
default = ["embed-fonts"]

# Embeds Typst's default fonts for
# - text (Linux Libertine),
# - math (New Computer Modern Math), and
# - code (Deja Vu Sans Mono)
# and additionally New Computer Modern for text
# into the binary.
embed-fonts = []
